djangoserver/__pycache__
*.py[cod]
*.sqlite3
*.log

*.pot
*.pyc
*.pyo
*.db
*.mo
.env
.env.*

*/migrations/*.py
!*/migrations/__init__.py
todolist/__pycache__
migrations/__pycache__

media/
staticfiles/

.vscode/
.idea/
.DS_Store

/venv/
/data/
**/__pycache__/
.DS_Store